
@{
    ViewData["Title"] = "404-page not found";
}

<h1>404 page not found</h1>
<title>404-Page not found</title>
<h2>Uh oh! Looks like you drifted the wrong way.  </h2>
<i class="fas fa-fw fa-ship fa-5x fa-flip-horizontal"></i>

<br />
<p> Lets get you back sailor.  <a href="/Clients">Click here!</a></p>
