@model IdentityServer4.AdminUI.Models.ApiScopes
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<title>Api-Scopes-Create</title>
<h3>ApiScopes</h3>
<hr />
@* Create form to be  posted *@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApiResourceId" class="control-label"></label>
                <input asp-for="ApiResourceId" class="form-control" />
                <span asp-validation-for="ApiResourceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Emphasize" /> @Html.DisplayNameFor(model => model.Emphasize)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Required" /> @Html.DisplayNameFor(model => model.Required)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="ShowInDiscoveryDocument" /> @Html.DisplayNameFor(model => model.ShowInDiscoveryDocument)
                    </label>
                </div>
            </div>
            <hr />
            <div class="form-inline">
                <input type="submit" value="Create" class="btn btn-info" />
                &nbsp;<i class="fas fa-square-full fa-xs fa-rotate-90"></i>&nbsp;
                @*This is the button to trigger the modal below.*@
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Confirm_Leave">
                    Back to Scopes
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@* Modal window *@
<div class="modal fade" id="Confirm_Leave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to leave?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                If you leave changes you made will be not be saved.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <form asp-action="/Index">
                    <input type="submit" value="Back to Scopes" class="btn btn-info" />
                </form>
                <form asp-controller="ApiResources" asp-action="Index">
                    <input type="submit" value=" Back to Api Resources" class="btn btn-info" />
                </form>
            </div>
        </div>
    </div>
</div>
