@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<title>@ViewData["Title"]</title>
<hr/>
<p>
    Hello, <br />
    <br/>
    This is our Identity Server 4 admin ui project. This is an open source project. 
    This UI was designed to allow easier control over an Identity Server 4 server. 

    <br/>
    <br/>
Find out more at our github page : <a href="https://github.com/RecursiveGeek/IdentityServer4.AdminUI">IdentityServer4.AdminUI Github</a>

</p>
