@{
    ViewData["Title"] = "Contact us";
}
<h2>@ViewData["Title"]</h2>
<hr/>
<title>Contact-Us</title>
<p>
    Have a question, comment, or concern? 
    Feel free to leave feedback on the github project page.
</p>

<address>

<a href="https://github.com/RecursiveGeek/IdentityServer4.AdminUI">IdentityServer4.AdminUI Github</a>

</address>
