@model IdentityServer4.AdminUI.Models.ClientCorsOrigins
@using Microsoft.AspNetCore.Http;
@{
    var ClientId = IdentityServer4.AdminUI.Helpers.VarHelper.ClientId;
}

<title>Client Origins - Create</title>
<h2>Create Origin</h2>
<hr />
@* Create form to be  posted *@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <input asp-for="ClientId" readonly class="form-control" id=" @Context.Session.GetInt32(ClientId)" value="@Context.Session.GetInt32(ClientId)" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origin" class="control-label"></label>
                <input asp-for="Origin" class="form-control" />
                <span asp-validation-for="Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <hr />
                <input type="submit" value="Submit" class="btn btn-success" />

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*This is the button to trigger the modal below.*@
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#Confirm_Leave">
    Back to Origin
</button>
<form asp-controller="Clients" asp-action="Index">

    <input type="submit" value=" Back to Clients" class="btn btn-info" />

</form>
@* Modal window *@
<div class="modal fade" id="Confirm_Leave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to leave?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                If you leave changes you made will be not be saved.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <form asp-action="/Index">
                    <input type="submit" value="Back to Origin" class="btn btn-info" />
                </form>
            </div>
        </div>
    </div>
</div>